@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Ubuntu:wght@400;700&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  
    -webkit-appearance: none;
    margin: 0;
}


#calculator{

  font-family: 'Ubuntu', Arial, sans-serif !important;
  
  
}
#button-delete{
  position: relative;
  left:2rem
}


#button-clear{
  position: relative;
  bottom: 0.2rem;
}