@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&family=Ubuntu:wght@400;700&display=swap');


*{
    font-size: 62.5%;
    font-family: "Ubuntu", "Roboto", Arial, Helvetica, sans-serif !important;
    padding: 0;
    margin: 0;
}
body{
    background-color:#1a2a32;
}
.turn h3{
    color: #c1c142;
    position: relative;
    left: 3rem;
    font-size: 2rem;
}
.mod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    padding-top: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 3.2rem;
    z-index: 2;
    -webkit-perspective: 30rem;
    perspective: 30rem;
   
}

.coin{
    padding: 5rem;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
 .coin img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    width: 12rem;
}
.heads, .tails{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.coin:hover{
    cursor: pointer;
}
.tails{
    transform: rotateX(180deg);
}
/* coin animation */
@keyframes spin-tails {
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
    
}@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
    
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

#rng-turn{
    font-size: 2rem;
}
.exandoh i{
    font-size: 3rem;
    color: rgb(110, 237, 110);
    position: absolute;
}
li .exandoh i {
        font-size: 8.2rem;
       color: rgb(110, 237, 110);
}

.dropdown-menu .dropdown-item:hover {
    opacity: 0.5;
    background-color:  #6c757d;
    color: white;
}

.tic-tac{
padding: 1rem;
}


ol{
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}
ol li{
    background-color: #1a2a32;
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
ol li:nth-last-child(-n+3):hover{
    cursor: default;
}
ol li:hover{
   cursor: pointer;
background-color: rgba(7, 96, 140, 0.25);

}
#player-score{
    font-size: 2rem;
    position: relative;
    top: 0.5rem;
}
#cpu-score{
    font-size: 2rem;
    position: relative;
    top: 0.5rem;
}
#playerScore{
    width: 19rem;
    height: 8rem;
    color: #1a2a32;
    background-color: #3cc4bf;
    font-size: 2rem;
    line-height: 2.5rem;
    
}
#ties{
    width: 19rem;
    height: 8rem;
    color: #1a2a32;
    font-size: 2rem;
    text-transform:capitalize;
    background-color: lightgray;
}
#tieValue{
    font-size: 2rem;
}
#cpuScore{
    width: 19rem;
    height: 8rem;
    color: black;
    background-color:  #f2b147;
    font-size: 2rem;
    line-height: 2.5rem;
}

.tic
{
    width: 60rem;
    height: 100vh   
}
.hidden{
   display: none !important; 

}